@charset "UTF-8";

* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(/FinalProject/images/14.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
}

.img-logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 120px;
}

.form-container {
  /* border: 1px solid blue; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 250px;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%, 0);
  background-color: #dfe4ea;
  border-radius: 15px;
  padding: 30px;
}

.form-container h1 {
  font-weight: inherit;
  margin-bottom: 10px;
}

.lab-input-container {
  /* margin-top: 20px; */
  /* border: 1px solid red; */
  text-align: center;
  padding-top: 10px;
}

.lab-input-container label {
  float: left;
  margin-left: 10px;
  font-size: 13px;
  padding-left: 10px;
}

.input-field {
  text-indent: 10px;
}

.lab-input-container input {
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 90%;
}

.lab-input-container input:hover {
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 90%;
  background-color: #f7f7f7;
}

.lab-input-container input:focus {
  margin-top: 10px;
  outline: none;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 90%;
  background-color: #f7f7f7;
}

#input-submit {
  position: relative;
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 90%;
  color: #f1f2f6;
  background-color: #2f3542;
}

#input-submit:hover {
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 90%;
  color: #f1f2f6;
  background-color: #15171b;
  cursor: pointer;
}

.href-forget-passwd {
  /* border: 1px solid green; */
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.href-forget-passwd a {
  color: #5352ed;
  text-decoration: none;
  font-size: 13px;
}

.href-forget-passwd a:hover {
  color: #5352ed;
  text-decoration: underline;
  font-size: 13px;
}

.href-forget-passwd a:visited {
  color: #5352ed;
  text-decoration: none;
  font-size: 13px;
}

.line-hr {
  margin-top: 10px;
  width: 100%;
}

.register-container {
  margin-top: 20px;
  text-align: center;
}

.btn-register {
  width: 100%;
  font-weight: bolder;
  border-radius: 20px;
  border-color: #15171b;
  height: 30px;
  width: 90%;
  color: #2f3542;
}

.btn-register:hover {
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  background-color: #2f3542;
  height: 30px;
  width: 90%;
  color: #f1f2f6;
}

.error-msg-container {
  margin: 1rem 0 0 0;
  color: #ff4757;
  font-weight: 600;
}

.p-container {
  text-align: center;
  color: #15171b;
}

#app > div:nth-child(2) > div > span {
  padding-bottom: 1rem;
  display: block;
}

.loading-gif {
  width: 30px;
  background: transparent;

}


