body {
  position: relative;
  height: 100vh;
}

.account-section {
  padding-top: 10rem;
  background: linear-gradient(
    to bottom,
    rgba(206, 214, 224, 1) 0%,
    rgba(206, 214, 224, 0.9) 75%,
    rgba(206, 214, 224, 0.8) 100%
  );
}

.user-title-container {
  margin: 0 auto;
  /* border: 1px solid red; */
  width: 80%;
  height: 50px;
}

.user-title-container h1 {
  float: left;
  padding-bottom: 10px;
  font-weight: normal;
  line-height: 50px;
}

.user-title-container ul li {
  display: inline;
  float: right;
  padding-left: 10px;
}

.user-nav {
  position: relative;
  right: 0;
  top: 25px;
}

.user-nav ul li a:link {
  text-decoration: none;
  color: #57606f;
}

.user-nav ul li a:hover {
  text-decoration: none;
  color: #2f3542;
}

.row-pd-1 {
  padding: 3rem 5rem 0 5rem;
}

.text-left {
  text-align: left;
}

.card-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-image {
  width: 120px;
}

.al-center {
  display: flex;
  align-items: center;
}

.divider {
  margin: 1rem;
  width: 95%;
}

.nav-link-custom {
  text-decoration: none;
  color: #57606f;
}

.footer-custom {
  position: absolute;
  bottom: 0%;
  padding: 1.5rem;
  width: 100%;
}

.pd-bottom-2rem {
	padding-bottom:2rem;
  height: 100%;
}