.h3 {
  margin-bottom: 2rem;
}

.mg-1r {
  margin: 1rem 0 1rem 0;
}

.text-new {
  color: #546de5;
}

.text-ate {
  color: #f5cd79;
}

.text-engaged {
  color: #f19066;
}

.text-test-drive {
  color: #c44569;
}

.text-follow-up {
  color: #574b90;
}

.text-long-trem {
  color: #f8a5c2;
}
.text-ordered {
  color: #e66767;
}
.text-closed-lost {
  color: #596275;
}
