.bg-gray-custom {
  background: linear-gradient(
    to bottom,
    #ced6e0 0%,
    rgba(206, 214, 224, 0.4) 75%,
    rgba(206, 214, 224, 0.6) 100%
  );
}

#idfSub > table > tbody > tr > td {
  padding: 0.8rem 0;
}

.wh-40 {
  width: 50%;
  height: 40px;
  padding: 0;
}

.search-book-form-custom {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  right: 0px;
}

.image-holder-custom{
	position: relative;
	margin-bottom: 10px;
}

.image-holder-custom img{
	max-width: 100%;
}

.image-holder-custom h3 {
/* 	置中 */
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
/*     文字樣式 */
	font-family: "Bitter-Regular";
    font-size: 40px;
    color: #fff;
    padding: 9px 23px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 1.2;
}




.po-re {
  position: relative;
  /* border: 1px solid blue; */
}

.search-icon-btn-custom {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.search-input-custom {
  width: 150px;
  display: inline;
}

.pd-2rem {
  padding: 10rem 0 2rem 0;
}

.input-group-addon {
  width: 30px;
}

.color-blue {
  background-color: #64A19D;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.color-blue:hover {
  background-color: #558985;
}

.color-blue:active {
  background-color: #3c605e;
}
/*   background-color: #50817e;
  blacker: #46706d #3c605e #32504e #28403e*/


.pointer-custom{
  cursor: pointer;
}

.onekey{
  position: absolute;
  margin-left: 20px;
  width: 20%;
}


.valid-false{
  border-color: #f9b8b9;
  box-shadow: 0 0 0 0.25rem rgb(247 149 152 / 25%);	
}
/* #f57f81 #f68d8f #f79b9d #f8a9ab #f9b8b9 #fac6c7 */


.mgl-0{
  width:100%;
}


#page-top > section > div > div > div > table > tbody > tr > td{
  padding: 0.4rem 0;
}

.formTime{
  text-align: left;
  font-size: 16px;
  margin: 1rem 0;
}


.back {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 20%;
}

.dis-ib-custom{
  display: inline-block;
}

.copy-custom{
  display: inline;
  margin-left: 10px;
/*   padding: 6px 10px 4px 10px; */
  padding: 7px 11px 5px 11px;
  border-radius: 8px;
  cursor: pointer;
}

.copy-custom:active{
  margin-left: 14px;
  padding: 5px 9px 3px 9px;
}

.table_booku thead tr th{
  padding: 0rem 0.5rem;
}

.table_bookf tbody tr td{
  padding: 0.4rem 0;
}

#changedForm > div.row > div > table > tbody > tr {
	width: 100%;
}

/* .bor-lef-custom{ */
/*   position: absolute; */
/*   left:5%; */
/* } */

.w100-h40 {
  width: 100px;
  height: 40px;
  padding: 0;
}

.h-max-custom{
  height:300px
}

.back2 {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 20%;
}