.bg-gray-custom {
  background: linear-gradient(
    to bottom,
    #ced6e0 0%,
    rgba(206, 214, 224, 0.4) 75%,
    rgba(206, 214, 224, 0.6) 100%
  );
}

#idfSub > table > tbody > tr > td {
  padding: 0.8rem 0;
}

.wh-40 {
  width: 50%;
  height: 40px;
  padding: 0;
}

.search-book-form-custom {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  right: 0px;
}

.image-holder-custom{
	position: relative;
	margin-bottom: 10px;
}

.image-holder-custom img{
	max-width: 100%;
}

.image-holder-custom h3 {
/* 	置中 */
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
/*     文字樣式 */
	font-family: "Bitter-Regular";
    font-size: 40px;
    color: #fff;
    padding: 9px 23px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 1.2;
}




.po-re {
  position: relative;
  /* border: 1px solid blue; */
}

.search-icon-btn-custom {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.search-input-custom {
  width: 190px;
  display: inline;
}

.pd-2rem {
  padding: 10rem 0 2rem 0;
}

.input-group-addon {
  width: 30px;
}

.color-blue {
  background-color: #64A19D;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.color-blue:hover {
  background-color: #558985;
}

.color-blue:active {
  background-color: #3c605e;
}
/*   background-color: #50817e;
  blacker: #46706d #3c605e #32504e #28403e*/


.pointer-custom{
  cursor: pointer;
}

.onekey{
  position: absolute;
  margin-left: 20px;
  width: 20%;
}

.mgl-0{
  width:100%;
}


#page-top > section > div > div > div > table > tbody > tr > td{
  padding: 0.4rem 0;
}

.formTime{
  text-align: left;
  font-size: 16px;
  margin: 1rem 0;
  padding-bottom: 10px;
}


.back {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 20%;
}

.forward {
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 20%;
}






.dis-ib-custom{
  display: inline-block;
}

.copy-custom{
  display: inline;
  margin-left: 10px;
/*   padding: 6px 10px 4px 10px; */
  padding: 7px 11px 5px 11px;
  border-radius: 8px;
  cursor: pointer;
}

.copy-custom:active{
  margin-left: 14px;
  padding: 5px 9px 3px 9px;
}

.h_booku{
  margin-bottom:50px;
}

.table_booku{
  width: 100%;
  margin-bottom:10px;
}

.table_booku tbody tr td{
  padding: 1rem 0.2rem;
}

.client-data td{
	font-weight: bold;
	color: #64a19d;
	font-size: larger;
}

.client-data-display{
	font-weight: bold;
	color: #64a19d;
	font-size: larger;
}

.table_bookf tbody tr td{
  padding: 0.4rem 0;
}

#changedForm > div.row > div > table > tbody > tr {
	width: 100%;
}

.w100-h40 {
  width: 100px;
  height: 40px;
  padding: 0;
}

.h-max-custom{
  height:300px
}

.back2 {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 20%;
}


/*內外移動顯示欄位標題 Start*/
.row-custom{
  position: relative;
  margin-right: 10px;
}
.row-custom input{
  font-size: 1rem;
  /* border: 1px solid #03c9a9; */
  border-radius: 4px;
  margin: 0;
  padding: 0.4rem 1rem;
  box-shadow: 0px 1px 2px rgba(0,0,0, .25);
  /* width: 100%; */
  box-sizing: border-box;
  color: #2e3131;
  /* outline: none; 為focus時的browser加上的框線樣式 */
}

.row-custom label{
  position: absolute;
  left: 1rem;
  top: .5rem;
  color: #ccc;
  /* 動畫效果 */
  transition: all ease-in-out .2s;
}

.row-custom input:focus {
  /* border: 1px solid #1ba39c; */
}
.row-custom input:focus + label{
  /* -100 是左移自己的寬度 ，不夠，再加上2.5rem*/
  transform: translateX(calc(-100% - 2.5rem));
  color: #2e3131;
}

.row-custom input:not(:focus):not(:placeholder-shown) + label {
  color:rgba(0,0,0,0);
}

/* .search-input-custom {
  width: 180px;
  display: inline;
} */

.row-custom button {
/* .inside-custom{ */
  /* background: none; */
  border: none;
  position: absolute;
  top: .4rem;
  /* transform: translateY(-50%); */
  right: calc(.5rem + 1px); 
  
  margin: 0;
  padding: 0;
  outline: none;
  display: none;
}

.row-custom input:not(:placeholder-shown) ~ button {
  display: inline-block;
}
/*內外移動顯示欄位標題 End*/



/*scroll animation 滾動漸變圖 Start */
header {
  height: 506px;
  position: relative;
  overflow: hidden;
  --percentage: 0;
}

header .season, header .car {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img{
  position: absolute;
  display: block;
  height: 100%;
  object-fit: cover;
}
header .spring{
  z-index: 30;
  opacity: calc(1 - (var(--percentage) - 0.05) / 0.22);
}
header .summer{
  z-index: 20;
  opacity: calc(1 - (var(--percentage) - 0.34) / 0.22);
}
header .autumn{
  z-index: 10;
  opacity: calc(1 - (var(--percentage) - 0.79) / 0.22);
}
header .winter{
  opacity: 1;
}

/* header .car{ */
/*   filter: blur(3px); */
/* } */


header .season,
header .car,
header .spring,
header .summer,
header .autumn,
header .winter{
  transition: .5s all ease-in;
}

header.moving .season,
header.moving .car,
header.moving .spring,
header.moving .summer,
header.moving .autumn,
header.moving .winter{
  transition: none;
}
/*scroll animation 滾動漸變圖 End */




/* 拼圖驗證 start */
#outerCaptcha{
  display: flex;
  min-height: 200px;
}

#captcha{
	margin-bottom: 100px;
	margin-right: 35%;
	margin-left: 45%;
	
	--width: 200px;
	--height: 130px;
	--puzzle-width: 40px;
	--puzzle-height: 40px;
	--moved: 0px
	
	display: block;
	width: var(--width);
	height: var(--height);	
	border-radius: 4px;
	background-image: url(https://source.unsplash.com/featured/?nature,landscape);
	background-size: cover;
	background-position: center;
	position: relative;
	box-shadow: 0px 2px 4px rgba(0,0,0,.3);
}

#captcha::before, #captcha::after {
	position: absolute;
	content: '';
	display: block;
	width: inherit;
	height: inherit;
	background-image: inherit;
	background-size: inherit;
	background-position: inherit;
	
    clip-path: inset(
    calc( (var(--height) - var(--puzzle-height)) / 2 ) /* 45px 上裁切值 */
    var(--puzzle-width) /* 40px 右裁切值 */
    calc( (var(--height) - var(--puzzle-height)) / 2 ) /* 45px 下裁切值 */
    calc( var(--width) - var(--puzzle-width) * 2 ) /* 120px 左裁切值 */
    );
    -webkit-clip-path: inset(
    calc( (var(--height) - var(--puzzle-height)) / 2 )
    var(--puzzle-width)
    calc( (var(--height) - var(--puzzle-height)) / 2 ) 
    calc( var(--width) - var(--puzzle-width) * 2 ) 
    );
}

#captcha::after {
	transform: translatex(
	  clamp(
		calc( var(--width) * -1),	
		calc((var(--width) * -1) + var(--moved)),	
		calc( var(--puzzle-width))
	  )
	);
	transition: .2s all ease-in-out;  /*彈回時有transition*/
}
#captcha:active::after {
	transition: none;  /*拖動時沒有transition*/
}

#captcha::before {
	background-color: rgba(0, 0, 0, .6);
	background-blend-mode: multiply;
}

#handle {
  width: calc( var(--width) + var(--puzzle-width) * 2 );
  height: 20px;
  border-radius: 18px;
  background-color: #eee;
  position: absolute;
  bottom: -30px;
  left: calc( var(--puzzle-width) * 2 * -1 );
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, .2);
  border: 3px solid #ccc;
}

#handle span {
  display: block;
  width: var(--puzzle-width);
  height: 14px;
  border-radius: inherit;
  background-color: #fff;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, .25), 0px 2px 4px rgba(0, 0, 0, .3);
  position: absolute;
  cursor: move;
  transform: translatex(
    clamp(
      0px,
      calc(var(--moved)),
      calc( var(--width) + var(--puzzle-width) )
    )
  );
  transition: .2s all ease-in-out;
}

#captcha:active #handle span{
	transition: none;
}

#captcha.passed::before,
#captcha.passed::after,
#captcha.passed #handle {
  opacity: 0;
}

/* 拼圖驗證 end */


/* Vue driveTime */
.selected-Time {
	background-color: #d4ebf2;
}



