@charset "UTF-8";

* {
	margin: 0%;
	padding: 0%;
}

body {
	background-image: url(../images/14.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
}

.img-logo {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 120px;
}

.form-container {
	/* border: 1px solid blue; */
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	width: 350px;
	position: relative;
	left: 50%;
	margin-top: 100px;
	margin-bottom: 100px;
	/* top: 15%; */
	transform: translate(-50%, 0);
	background-color: #dfe4ea;
	border-radius: 15px;
	padding: 30px;
}

.form-container h1 {
	font-weight: inherit;
	margin-bottom: 10px;
}

.lab-input-container {
	/* margin-top: 20px; */
	/* border: 1px solid red; */
	text-align: center;
	padding-top: 10px;
}

.lab-input-container label {
	float: left;
	margin-left: 10px;
	font-size: 13px;
	padding-left: 10px;
}

.input-field {
	text-indent: 10px;
}

.lab-input-container input {
	/* text-align: center; */
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 20px;
	border: none;
	height: 30px;
	width: 90%;
}

.lab-input-container input:hover {
	margin-top: 10px;
	border-radius: 20px;
	border: none;
	height: 30px;
	width: 90%;
	background-color: #f7f7f7;
}

.lab-input-container input:focus {
	margin-top: 10px;
	outline: none;
	border-radius: 20px;
	border: none;
	height: 30px;
	width: 90%;
	background-color: #f7f7f7;
}

.lab-input-container > select {
	cursor: pointer;
	appearance: none;
	text-indent: 15px;
	text-align: center;
	margin-top: 10px;
	border-radius: 20px;
	border: none;
	height: 30px;
	width: 90%;
}

.lab-input-container select:hover {
	margin-top: 10px;
	border-radius: 20px;
	border: none;
	height: 30px;
	width: 90%;
	background-color: #f7f7f7;
}

.lab-input-container select:focus {
	margin-top: 10px;
	outline: none;
	border-radius: 20px;
	border: none;
	height: 30px;
	width: 90%;
	background-color: #f7f7f7;
}

.lab-input-container select option {
	cursor: pointer;
	background-color: white;
	width: 310px;
	padding: 10px 15px;
	height: 20px;
	cursor: pointer;
}

#input-submit {
	position: relative;
	text-align: center;
	margin-top: 10px;
	border-radius: 20px;
	border: none;
	height: 30px;
	width: 90%;
	color: #f1f2f6;
	background-color: #2f3542;
	cursor: pointer;
}

#input-submit:hover {
	margin-top: 10px;
	border-radius: 20px;
	border: none;
	height: 30px;
	width: 90%;
	color: #f1f2f6;
	background-color: #15171b;
}

.href-forget-passwd {
	/* border: 1px solid green; */
	align-items: center;
	text-align: center;
	padding-top: 10px;
}

.href-forget-passwd a {
	color: #5352ed;
	text-decoration: none;
	font-size: 13px;
}

.href-forget-passwd a:hover {
	color: #5352ed;
	text-decoration: underline;
	font-size: 13px;
}

.href-forget-passwd a:visited {
	color: #5352ed;
	text-decoration: none;
	font-size: 13px;
}

.line-hr {
	margin-top: 10px;
	width: 100%;
}

.register-container {
	margin-top: 20px;
	text-align: center;
}

.btn-register {
	width: 100%;
	font-weight: bolder;
	border-radius: 20px;
	border-color: #15171b;
	height: 30px;
	width: 90%;
	color: #2f3542;
}

.btn-register:hover {
	cursor: pointer;
	width: 100%;
	border-radius: 20px;
	background-color: #2f3542;
	height: 30px;
	width: 90%;
	color: #f1f2f6;
}